name: Xtreme OS Fixed Builder
on: [push, workflow_dispatch] # workflow_dispatch দিলে আপনি ম্যানুয়ালি রান করতে পারবেন

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Build Environment
        run: |
          sudo apt update
          sudo apt install -y live-build xorriso squashfs-tools wget

      - name: Build Xtreme OS
        run: |
          mkdir build_dir && cd build_dir
          # i386 আর্কিটেকচার ব্যবহার করছি যা লিম্বোতে ভালো চলবে
          lb config --binary-images iso-hybrid --distribution bookworm --architectures i386 --apt-indices false
          
          # X Store তৈরির ফোল্ডার
          mkdir -p config/includes.chroot/usr/local/bin/
          
          # X Store Script
          cat <<EOF > config/includes.chroot/usr/local/bin/xstore
          #!/bin/bash
          echo "Welcome to X Store"
          EOF
          
          chmod +x config/includes.chroot/usr/local/bin/xstore
          
          # বিল্ড শুরু করা
          sudo lb build

      - name: Upload Finished ISO
        uses: actions/upload-artifact@v4
        with:
          name: XtremeOS-Final
          path: build_dir/*.iso
